<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Jermaine Smith Sr. Portfolio</title>
        <meta name="description" content="Jermaine Smith Sr. - Front-end Wordpress & Shopify Developer Portfolio"/>
        <meta name="keywords" content="Front-End, responsive resume portfolio, Wordpress, Shopify, Developer, vcard, html5, bootstrap, creative, landing page, sass, clean, design, modern"/>
        <meta name="author" content="Jermaine Smith Sr."/>
        <!--Favicon-->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!--Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body id="body" data-ng-app="contactApp">
        <!--Fixed Bg Image-->
        <div class="fixed-bg"></div>
        <div class="fixed-bg-overlay"></div>
        <!--/Fixed Bg Image-->
        <!--Preloader-->
        <div id="pre_load" class="preloader-it" data-pg-collapsed>
            <div id="la_anim" class="la-anim-1"></div>
        </div>
        <!--/Preloader-->
        <!--Container-->
        <div class="container-fluid">
            <div class="row">
                <div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
                    <!--Navigation-->
                    <nav class="navbar navbar-default vertical-nav" role="navigation">
                        <div class="navbar-header" data-pg-collapsed>
                            <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target="#navbar_collapse">
                                <span class="mask"></span>
                                <span class="btn-label"> <span class="pe-7s-menu"></span> </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar_collapse" data-pg-collapsed>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a data-scroll href="#body"></a>
                                    <span>about</span>
                                </li>
                                <li>
                                    <a data-scroll href="#services_sec"></a>
                                    <span>services</span>
                                </li>
                                <li>
                                    <a data-scroll href="#skill_sec"></a>
                                    <span>skills</span>
                                </li>
                                <li>
                                    <a data-scroll href="#work_sec"></a>
                                    <span>work</span>
                                </li>
                                <li>
                                    <a data-scroll href="#edu_sec"></a>
                                    <span>education</span>
                                </li>
                                <li>
                                    <a data-scroll href="#exp_sec"></a>
                                    <span>experience</span>
                                </li>
                                <li>
                                    <a data-scroll href="#client_sec"></a>
                                    <span>clients</span>
                                </li>
                                <li>
                                    <a data-scroll href="#achivement_sec"></a>
                                    <span>achivements</span>
                                </li>
                                <li>
                                    <a data-scroll href="#contact_sec"></a>
                                    <span>contact</span>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--/Navigation-->
                </div>
                <div class="col-lg-8 col-xs-12 pad-zero">
                    <!--Header-->
                    <header data-pg-collapsed>
                        <div class="header-wrap col-lg-10 center-div">
                            <div class="float-left name">
                                <a data-scroll href="#body"> <span>
								JERMAINE SMITH SR.</span> </a> 
                            </div>
                            <div class="float-right social-download-wrap">
                                <a href="/jermaine-smith-resume.pdf" class="btn btn-default float-left"> <span class="mask"></span> <span class="btn-label"> <b>download resume</b> <span class="icon pe-7s-download"></span> </span> </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </header>
                    <!--/Header-->
                    <!--Main Content-->
                    <div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
                        <!--Introduction Sec-->
                        <section id="intro_content_sec" class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad" data-pg-collapsed>
                            <div class="person-img margin-bottom-xs"></div>
                            <h1>
								Hello. <span id="typed"></span> </h1>
                            <h6>
								about </h6>
                            <p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Experienced Front-End Wordpress & Shopify Developer. Currently pursuing a role with the perfect blend of design and function. For the past 3 years I've  expanded my knowledge and skillset through work experience and freelancing. I enjoy bringing clarity to complex problems with a people first approach.  When I'm not making clients happy I'm enjoying Taco Tuesdays 🌮 and IPAs 🍺. </p>
                            <div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
                                <img class="img-responsive" src="img/signature.png" alt="signature" width="130"/>
                            </div>
                        </section>
                        <!--/Introduction Sec-->
                        <hr class="separater-hr"/>
                        <!--WhatWeDo Sec-->
                        <section id="services_sec" class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs" data-pg-collapsed>
                            <h6>what i do</h6>
                            <div class="row">
                                <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
                                    <span class="icon pe-7s-diamond"></span>
                                    <span class="key-fact">
									 Front-End<br>Design		 </span>
                                </div>
                                <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
                                    <span class="icon pe-7s-browser"></span>
                                    <span class="key-fact">
								Web<Br>Development		  </span>
                                </div>
                                <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
                                    <span class=" icon pe-7s-search"></span>
                                    <span class="key-fact">
									Search Engine<br> Optimization		 </span>
                                </div>
                                <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
                                    <span class="icon pe-7s-speaker"></span>
                                    <span class="key-fact">
									Digital<br> Marketing </span>
                                </div>
                            </div>
                        </section>
                        <!--/WhatWeDo Sec-->
                        <hr class="separater-hr"/>
                        <!--Skills Sec-->
                        <section id="skill_sec" class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs" data-pg-collapsed>
                            <h6>Design & Development Skills</h6>
                            <p class="wow fadeInUp" data-wow-duration=".4s">As a self-taught developer, I have experimented with and explored various software and programming languages. My development experience is with front-end technologies including static site development with -- HTML5, CSS3, & JS/JQuery with some PHP script and form integrations at times.  As a freelancer and owner of a web development agency I have primarily focused on "client-friendly" CMS solutions Wordpress & Shopify.  That experience includes some theme development and theme customization, editing PHP & Shopify Liquid code respectively.  In addition to my development experience I have also explored my creativity and become adept with design using Sketch App and Photoshop for mockup and asset creation.</p>
                            <div class="row margin-top-40">
                                <div class="col-sm-5 margin-bottom-sm">
                                    <span class="progress-cat">HTML / CSS</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <span data-width="80"> <strong><i>80</i>%</strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                                    <span class="progress-cat">Wordpress / PHP</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <span data-width="80"> <strong><i>80</i>%</strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-5 margin-bottom-sm">
                                    <span class="progress-cat">Shopify / Liquid</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <span data-width="80"> <strong><i>90</i>%</strong> </span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                                    <span class="progress-cat">JS/JQuery</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <span data-width="60"> <strong><i>60</i>%</strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-5 margin-bottom-sm" data-pg-collapsed>
                                    <span class="progress-cat">Sketch App</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <span data-width="80"> <strong><i>80</i>%</strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                                    <span class="progress-cat">Photoshop</span>
                                    <div class="progress-bar-graph">
                                        <div class="progress-bar-wrap">
                                            <div class="bar-wrap">
                                                <div class="bar-wrap">
                                                    <span data-width="70"> <strong><i>70</i>%</strong> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                        <!--/Skills Sec-->
                        <hr class="separater-hr"/>
                        <!--Work Sec-->
                        <section id="work_sec" class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad" data-pg-collapsed>
                            <h6>Recent Work</h6>
                            <div class="portfolio-wrap project-gallery padding-sec-lg">
                                <ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
                                    <li class="item" data-src="img/equalhype.png" data-sub-html="<h6>Equal Hype</h6><p><strong>OVERVIEW: </strong>Equal Hype is an online store developed for a client and built with Wordpress & Woocommerce. <br><strong>THE PROCESS:</strong> The development process involved client consultation and working with an outside design team to convert their <br>PSD mockup to a functional Wordpress site.</p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/equalhype.png" alt="Image description"/> <span class="hover-cap">Equal Hype | <span style="color:rgb(27, 75, 177);">Wordpress</span></span> </a>
                                    </li>
                                    <li class="item" data-src="img/krownlux.png" data-sub-html="<h6>Krown Lux</h6><p><strong>OVERVIEW: </strong>Krown Lux is an print-on-demand dropshipping store developed for a client and built with Shopify. <br><strong>THE PROCESS:</strong> The development process involved client consultation, web design, asset creation (including mockups), product/graphic design, <br>and development with theme and liquid code customization.</p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/krownlux.png" alt="Image description"/> <span class="hover-cap">Krown Lux | <span style="color:forestgreen;">Shopify</span></span> </a>
                                    </li>
                                    <li class="item" data-src="img/securetech.png" data-sub-html="<h6>Secure Tech Mobility</h6><p><strong>OVERVIEW: </strong>Secure Tech Mobility is a static site built for a client using HTML5 & CSS with PHP form integration.<br><strong>THE PROCESS:</strong> The development process involved client consultation with basic web design and coding. </p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/securetech.png" alt="Image description"/> <span class="hover-cap">Secure Tech Mobility | <span style="color:rgb(213, 100, 1);">HTML5 (Static)</span></span> </a>
                                    </li>
                                    <li class="item" data-src="img/ondibuhair.png" data-sub-html="<h6>Ondibu Hair</h6><p><strong>OVERVIEW: </strong>Ondibu Hair is an online store developed for a client and built with Shopify. <br><strong>THE PROCESS:</strong> For this project I was outsourced by another digital agency to convert their PSD design to a custom Shopify store.</p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/ondibuhair.png" alt="Image description"/> <span class="hover-cap">Ondibu Hair | <span style="color:forestgreen;">Shopify</span></a>
                                    </li>
                                    <li class="item" data-src="img/winchester.png" data-sub-html="<h6>Winchester Watches</h6><p><strong>OVERVIEW: </strong>Winchester Watches is an online dropshipping store developed for a client and built with Shopify. <br><strong>THE PROCESS:</strong> The development process involved client consultation and online store development with Shopify.</p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/winchester.png" alt="Image description"/> <span class="hover-cap">Winchester Watches | <span style="color:forestgreen;">Shopify</span></span></a>
                                    </li>
                                    <li class="item" data-src="img/cds.png" data-sub-html="<h6>Cannabis Dealmakers</h6><p><strong>OVERVIEW: </strong>Cannabis Dealmakers is a recurring seminar managed by Bonaventure Equity.  The website is for event information. <br><strong>THE PROCESS:</strong> The development process involved client consultation, web design, and development using Wordpress.</p>" data-pg-collapsed>
                                        <a href=""> <img class="img-responsive" src="img/cds.png" alt="Image description"/> <span class="hover-cap">Cannabis Dealmakers | <span style="color:rgb(27, 75, 177);">Wordpress</span></span> </a>
                                    </li>
                                </ul>
                                <!-- Hidden video div -->
                                <div style="display:none;" id="video1">
                                    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
                                        <source src="videos/video1.mp4" type="video/webm">
                                        <source src="videos/video1.webm" type="video/webm">
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>
                            </div>
                        </section>
                        <!--/Work Sec-->
                        <hr class="separater-hr"/>
                        <!--Qualfication Sec-->
                        <section id="edu_sec" class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad" data-pg-collapsed>
                            <h6>education</h6>
                            <div class="qualfication-wrap">
                                <div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
                                    <div class="col-sm-2">
                                        <span class="row-count"><span>1</span></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="yr-pers vertical-align-pad">2002-2004</span>
                                    </div>
                                    <div class="col-sm-5">
                                        <span class="insti vertical-align-pad">University of Illinois at Urbana-Champaign, Urbana, IL</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="design vertical-align-pad">
										Business Administration</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/Qualfication Sec-->
                        <hr class="separater-hr"/>
                        <!--Experience Sec-->
                        <section id="exp_sec" class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad" data-pg-collapsed>
                            <h6>Technical Experience</h6>
                            <div class="exp-timeline-wrap">
                                <div class="row exp-timeline timeline-active">
                                    <div class="col-xs-2">
                                        <div class="timeline-st"></div>
                                    </div>
                                    <div class="col-xs-10 exp-content-wrap">
                                        <div class="row">
                                            <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
                                                <div class="col-sm-3 duration">
                                                    <span>May '17 — Present</span>
                                                </div>
                                                <div class="col-sm-9">
                                                    <span class="job-desn">Front-End Wordpress & Shopify Developer (self-employed)</span>
                                                    <span class="job-loc">Dream Digital Agency, Chicago, IL </span>
                                                    <p class="job-summary p-small">⦿ Consult clients on business needs including - web development and digital marketing.
                                                        <br>⦿ Propose marketing, design, and development solutions based on needs assessment
                                                        <br>⦿ Design customer websites and digital media assets as needed
                                                        <br>⦿ Develop websites using Wordpress, Shopify, and Front-End Technologies including HTML, CSS, and Javascript
                                                        <br>⦿ Update and maintain client websites and assets as needed
                                                        <br>⦿ Develop and execute marketing strategy including: digital advertising, SEO, funnel development, growth hacking, etc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row exp-timeline">
                                    <div class="col-xs-2">
                                        <div class="timeline-st"></div>
                                    </div>
                                    <div class="col-xs-10 exp-content-wrap">
                                        <div class="row">
                                            <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
                                                <div class="col-sm-3 duration">
                                                    <span>Jan '18 – May '19</span>
                                                </div>
                                                <div class="col-sm-9">
                                                    <span class="job-desn">Wordpress & Shopify Developer </span>
                                                    <span class="job-loc">Dream Bigger Media Group, Miami, FL </span>
                                                    <p class="job-summary p-small"><br>⦿ Consulted clients on technical needs
                                                        <br>⦿ Recommended technical solutions based on needs assessment
                                                        <br>⦿ Collaborated with web design team with PSD design to development workflow
                                                        <br>⦿ Developed client websites using Wordpress, Shopify, and Front-End Technologies
                                                        <br>⦿ Created content and digital media as needed
                                                        <br>⦿ Maintained and updated websites as necessary </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row exp-timeline">
                                    <div class="col-xs-2">
                                        <div class="timeline-st"></div>
                                    </div>
                                    <div class="col-xs-10 exp-content-wrap">
                                        <div class="row">
                                            <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
                                                <div class="col-sm-3 duration">
                                                    <span>Mar '13 – May '16</span>
                                                </div>
                                                <div class="col-sm-9">
                                                    <span class="job-desn">Technical Assistant </span>
                                                    <span class="job-loc">Songsplits, New York, NY </span>
                                                    <p class="job-summary p-small"><br>⦿ Assisted with a wide range of various tasks for tech start-up
                                                        <br>⦿ Helped with Wordpress and Front-End web development tasks 
                                                        <br>⦿ Created content and maintained social media post schedule 
                                                        <br>⦿ Executed data scraping and wrangling tasks using various tools and python scripts</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/Experience Sec-->
                        <hr class="separater-hr"/>
                        <!--Client Sec-->
                        <!--/Client Sec-->
                        <!--Achivement Sec-->
                        <!--/Achivement Sec-->
                        <!--Contact Sec-->
                        <section id="contact_sec" class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad" data-pg-collapsed>
                            <h6>contact</h6>
                            <div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
                                <h3>Hello <span data-ng-bind="formData.inputName||'friend'"></span>, I'd love to hear from you.</h3>
                                <div>
                                    <form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class="row form-horizontal" role="form">
                                        <div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                            <div class="input-wrap">
                                                <input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
                                                <label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"></label>
                                            </div>
                                        </div>
                                        <div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                            <div class="input-wrap">
                                                <input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
                                                <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                            </div>
                                        </div>
                                        <div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                            <div class="input-wrap">
                                                <textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                                                <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="align-center">
                                                <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
                                                    <span class="mask"></span>
                                                    <span>send message</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <p data-ng-class="result">{{ resultMessage }}</p>
                                </div>
                            </div>
                            <div class="email-direct">
                                <p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a href="mailto:jay@drea,-digital.co">jay@dream-digital.co</a></p>
                            </div>
                        </section>
                        <!--Contact Sec-->
                        <hr class="separater-hr"/>
                        <!--Footer-->
                        <footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad" data-pg-collapsed>
                            <div class="row">
                                <div class="col-sm-6 available-wrap">
                                    <span class="available-pointer"></span>
                                    <span class="available-tag">Available for Freelance Projects.</span>
                                </div>
                                <div class="col-sm-6">
                                    <!--<div class="social-icons-wrap float-right">
                                        
                                        <ul class="social-icons float-right">
                                            <li>
                                                <a href="#" class="social-icon"> <span class="fa" data-hover="&#xf09a;">&#xf09a;</span> </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon"> <span class="fa" data-hover="&#xf099;">&#xf099;</span> </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon"> <span class="fa" data-hover="&#xf16d;">&#xf16d;</span> </a>
                                            </li>
                                        </ul>
                                       
                                    </div>-->
                                    <div class="goto-top text-right float-right">
                                        <a data-scroll href="#body"> <span data-hover="top">
										top </span> </a>
                                    </div>
                                    <div class="copywrite-wrap text-right float-right">
                                        <p class="copywrite">Created by <b>Jermaine Smith Sr. </b> Updated <b>December 2019.</b></p>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!--/Footer-->
                    </div>
                    <!--/Main Content-->
                </div>
            </div>
        </div>
        <!-- /Container -->
        <!-- Scripts -->
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/jquery.placeholder.js"></script>
        <script src="js/smooth-scroll.js"></script>
        <script src="js/countTo.js"></script>
        <script src="js/jQuery.appear.js"></script>
        <script src="js/isotope.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/lightgallery-all.js"></script>
        <script src="js/jquery.mousewheel.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/froogaloop2.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>